html {
  font-family: "Racing Sans One", cursive;
}
.cabecera-banner {
  background-image: url(../img/hockey\ \ 1.jpg);
  background-size: cover;
  padding: 20vh;
}
.cabecera-banner-titulo_principal {
  margin: 0;
  font-size: 5rem;
  -webkit-text-fill-color: rgb(248, 225, 46);
  -webkit-text-stroke: 1px rgb(146, 76, 40);
  text-align: center;
}

.cabecera-container {
  background-color: rgb(198, 72, 50);
  padding: 3vh 0;
  position: relative;
}
.cabecera-container-titulo_secundario {
  margin: 0 35vh 0 0;
  text-align: center;
  color: white;
}

.cabecera-container-logo {
  background-color: rgb(198, 72, 50);
  position: absolute;
  top: -8vh;
  right: 10%;
  width: 200px;
  border-radius: 25%;
}

.contenido {
  background-color: rgb(33, 25, 21);
  width: 100%;
}

.contenido-menu {
  display: inline-block;
  vertical-align: top;
  margin: 2% 5%;
}

.contenido-menu-lista {
  list-style: none;
  display: inline-block;
  width: auto;
  padding: 0;
  width: auto;
}

.contenido-menu-lista-opcion {
  text-decoration: none;
  display: block;
  margin: 5%;
  width: auto;
}

.contenido-menu-lista-link {
  display: inline-block;
  width: 6em;
  text-decoration: none;
  text-align: center;
  padding: 0.6rem;
  font-weight: bolder;
  background-color: rgb(95, 161, 153);
  color: rgb(248, 225, 46);
  border-radius: 1rem;
  border: 2px solid rgb(198, 72, 50);
  font-size: 1.5em;
}

.contenido-menu-lista-link_activo {
  display: inline-block;
  width: 6em;
  text-decoration: none;
  text-align: center;
  padding: 0.6rem;
  font-weight: bolder;
  background-color: rgb(194, 93, 79);
  color: rgb(248, 225, 46);
  border-radius: 1rem;
  border: 2px solid rgb(198, 72, 50);
  font-size: 1.5em;
}

.contenido-eventos {
  position: relative;
  left: 15%;
  display: inline-block;
  width: auto;
}

.contenido-eventos-lista {
  position: relative;
  list-style: none;
  margin-top: 5%;
  right: 15%;
}

.contenido-eventos-lista-fecha_evento::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 5px; /* Opcional: agrega un espacio entre el icono y el texto */
  background-image: url("../img/icono_arco.png"); /* Reemplaza "ruta-a-tu-imagen" con la ubicación real de la imagen */
  background-size: contain;
  background-repeat: no-repeat;
}

.contenido-eventos-lista-fecha_evento {
  color: white;
  font-size: 1.5rem;
}

.contenido-eventos-lista-fecha_evento-fecha {
  display: inline-block;
  -webkit-text-fill-color: rgb(248, 225, 46);
  -webkit-text-stroke: 1px rgb(146, 76, 40);
  font-size: 2rem;
}

.contenido-eventos-lista-fecha_evento-evento {
  display: block;
  margin-left: 5%;
}

/* #########ABOUT########## */

.contenido-about {
  display: inline-block;
  width: 50%;
  margin: 5% 5%;
  padding-bottom: 20vh;
}

.contenido-about-lista-info::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 5px; /* Opcional: agrega un espacio entre el icono y el texto */
  background-image: url("../img/icono_arco.png"); /* Reemplaza "ruta-a-tu-imagen" con la ubicación real de la imagen */
  background-size: contain;
  background-repeat: no-repeat;
}

.contenido-about-lista-info {
  color: white;
  list-style: none;
  font-size: 1.5rem;
}

.contenido-about-lista-info-tittle {
  color: rgb(248, 225, 4);
  -webkit-text-fill-color: rgb(248, 225, 46);
  -webkit-text-stroke: 1px rgb(146, 76, 40);
  font-size: 2rem;
}

.contenido-about-lista-info-info {
  padding-left: 10%;
  margin-top: 2%;
  width: 120%;
}

/* #####Rules##### */
.contenido-rules {
  margin-top: 5%;
  display: inline-block;
  width: 60%;
  color: white;
}

/* #####GameInformation##### */
.contenido-information {
  margin-top: 5%;
  display: inline-block;
  width: 60%;
  color: white;
}
table {
  border: solid 2px;
}
th,
td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid;
  border-collapse: collapse;
}

/* #####CONTACT##### */

.contenido-contact {
  display: inline-block;
  width: 50%;
  margin-left: 15%;
  margin-top: 2%;
  padding-bottom: 20%;
}

.contenido-contact p {
  color: white;
  font-size: 2rem;
}


form {
  display: inline-block;
  padding: 2rem;
  background-color:   border: 0.5rem solid rgb(146, 76, 40);
  margin: 2rem;
  border-radius: 2rem;
}

legend {
  margin: 1rem;
}

legend span {
  text-align: center;
  font-weight: bold;
}

label {
  padding-right: 1rem;
}

input[type=text],
input[type=number],
input[type=date] {
  width: 40%;
  color: black;
  padding: 1vw;
  margin: 1vw;
  display: inline-block;
  border: 1vw;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=radio],
input[type=checkbox] {
  color: black;

  display: inline-block;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  background-color: darkgreen;
  font-size: larger;
  font-weight: bold;
  color: white;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: green;
}